{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodaysDiet</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div class="background"></div>
	  <div class="container">
      <h1>Hey, let's get <div class="underline"><u>healthy</u></div> meals for today.</h1>
        <form method="post">
          {% csrf_token %}
          {{ form }}
        <input type="submit" value="Generate">
        </form>
        <table>
          <tr>
            <th>Breakfest</th>
            <th>Launch</th>
            <th>Dinner</th>
          </tr>
          <tr>
            <td>{{breakfest}}</td>
            <td>{{lunch}}</td>
            <td>{{dinner}}</td>
          </tr>
        </table> 
	  <div>
  </body>
</html>
